<div class="container-fluid py-4 bg-about">

    <div class="fs-1 text-center text-white">
        About
    </div>
</div>
<div class="container py-4">
    <h3 class="text-decoration-underline"> About Ezeeflights</h3>
    <p>
        Ezee Flights is the most trustable and one of the leading Companies in the Online Travel Booking Sector;
        Ezeeflights provide affordable airfares with great discounts and offers for their bookings. We are also excited
        to give you all-round Experiences, including hotel bookings with daily deals and rental car services for
        pick-ups and drop-ups. Ezeeflights is an Online Travel Booking agency with two Lakh customers and has Tie-Ups
        with World's Leading Airlines like Delta, United Airlines, Lufthansa, American Airlines, Qatar Airways, and
        more. Ezeeflight's vision is to create a revolution in Airfares by providing affordable prices and exciting
        offers to all his customers. Our approach is always customer-centric, thereby creating long-term relationships
        with customers, which will be helpful for us to attain our Ambitious target of one million happy customers.

    </p>
    <h3 class="text-decoration-underline"> Company</h3>
    <p>
        Ezeeflights have a huge Customer base in 20 Countries, which includes Canada, the United States, the United
        Kingdom, India, Spain, France, and more. We are working on expanding our bases in many countries to give
        world-class services to all sections of population of the World. We have 12 years of Experience in Online Travel
        Bookings, and the conversion rate is higher than anyone in the market. We Obtained Certifications from
        Organizations like IATA, IATAN, ARC, and TICO. We have headquarters based in Canada and have a physical presence
        in USA, UK, and India.

    </p>
    <h3 class="text-decoration-underline">Ezeeflights main areas of activity:
    </h3>

    <h4> Travel Agency </h4>
    <p>Ezee Flights has dedicated travel experts who will be helpful in booking your travel from the Beginning to the
        End. Ezeeflights has an affordable range of plans for your Vacations/Trips to different destinations. Our
        Customer Care Executives will be available 24/7 around the Clock to assist with your queries. Creating a Strong
        Base of Customers for Long-Term is not an easy task. Ezeeflights have a wide variety of flights with less
        airfare to different destinations of the World. We have holiday packages for all your destination around the
        World where the flight ticket will be cheaper and affordable within your budget. As a Global Entity, Ezeeflights
        has well-trained Customer Care Representatives who can handle any situation and also has the ability to deliver
        proper solutions for queries.

    </p>

    <h4> Marketing and Advertising Services
    </h4>
    <p>Ezeeflights is an important E-commerce player in the UK, USA, Canada, and India. We have been getting 150,000
        people to our Ezeeflights sites, which increases over twice a month. Ezeeflights send emails about its discounts
        and offers to 300,000 multi-lingual customers. These statistics explain the growth of the tourism industry and
        its popularity among the people.
    </p>
    <p>
        Real-time media technologies gave information about the number of people who viewed and accessed the site. The
        number of people viewing the Website is increasing daily, which increases our Conversion rate higher than any
        agency.
    </p>

    <h4> User's Feedback

    </h4>
    <p>
        Ezeeflights is constantly upgrading his values day by day- Your feedback will definitely create a positive
        impact in this process of Upgradation.

    </p>

</div>