<div class="container-fluid py-4 bg-about">

    <div class="fs-1 text-center text-white">
        FAQ
    </div>
</div>
<div class="container py-4">
    <h5 class="text-decoration-underline"> How to make a booking on Ezee Flights?</h5>
    <p>
        Ezeeflights is a more sophisticated and happening platform in the field of online travel booking agencies. We
        have a wide variety of International and Domestic flight bookings, which is 100% safe and secure in terms of
        your personal data and privacy. You will require only five minutes to book tickets for any place in the World
        for the dates you want to go.
    </p>
    <h5 class="text-decoration-underline"> How do I get to know if my booking is confirmed?</h5>
    <p>
        After booking an E-ticket, you will receive a confirmation mail to your registered mail address within 24 hours
        from Ezee Flights. In case, if you did not receive the receipt for confirmation in your inbox, you can call our
        Customer Care Executives and check it. Our Executives will be helpful in providing an effective solution within
        a span of time.

    </p>
    <h5 class="text-decoration-underline">Will there be any charges for booking my flight tickets by phone?
    </h5>
    <p>
        There will not be any charges while booking your flight tickets over the phone. Because while booking your
        flight tickets, we will not ask for any card details.
    </p>

    <h5 class="text-decoration-underline">I have not received my tickets yet; What is the procedure to get the tickets
        as soon as possible?
    </h5>
    <p>
        You advised booking an E-Ticket. After booking an E-Ticket, you will receive a confirmation mail to your mail
        address, and you can receive your tickets from Ticket Kiosk at the airport after entering your details.
    </p>
    <h5 class="text-decoration-underline">What is the procedure for getting an E-Ticket?
    </h5>
    <p>
        In the E-Ticket booking process, you need to give accurate Personal Information with valid numbers provided in
        your documents. E-Tickets are the best alternative; because it is safe and free from physical destruction. You
        can have your E-Ticket in any flexible format.
    </p>
    <h5 class="text-decoration-underline">Where can I find my terminal and airline details of flights?
    </h5>
    <p>
        You will receive all information about the terminal, air carrier, seat number, and flight departure in your
        confirmation mail. Kindly mention the flight ticket booking reference to our Customer Care Executives.
    </p>
    <h5 class="text-decoration-underline">How can I transfer my ticket to someone else name?
    </h5>
    <p>
        If you want to transfer your ticket to someone else name, you have to cancel your ticket and need to arrange for
        a re-issue of the flight ticket in the name of a second person. It will take a few hours, according to the
        guidelines given.
    </p>
    <h5 class="text-decoration-underline">What is the age criteria for booking flight ticket for an infant and a child?
    </h5>
    <p>
        An Infant is one who has aged between 0 to 1 year, which includes the time of their journey. A Child is one who
        has their aged between 2 to 11 years. Infants are not entitled to seat registration and need to travel by
        sitting on the lap of an adult accompanying them.
    </p>

    <h5 class="text-decoration-underline">How can I reconfirm my flight status?
    </h5>
    <p>
        The best way to reconfirm your flight ticket status is by calling the reservation desk at least 72 hours prior
        to the departure.
    </p>
    <h5 class="text-decoration-underline">What documents are required to receive tickets from the ticket counter at the
        airport?
    </h5>
    <p>
        You need to carry a valid Passport or License, Social Security Card, or any document of similar nature that can
        enable you to get the ticket from the ticket counter. You need to have a valid reference number of your Debit
        card/Credit Card; while booking your flight ticket.
    </p>
    <h5 class="text-decoration-underline">What are the payment methods available for ticket booking?
    </h5>
    <p>
        In Ezee flights, we use the most reliable payment method for booking flight tickets; they are<br>
        1. Credit Card/Debit Card payment.<br>
        2. Bank transfer.<br>
        3. Paypal.<br>
    </p>
    <h5 class="text-decoration-underline">How can I cancel my flight?
    </h5>
    <p>
        You can cancel your booking through our Customer Care Executives. But it will not necessarily lead to a refund.
    </p>
    <p>
        The amount refunded will change according to the fare conditions of your tickets, insurance and service
        contracted. According to the fares and conditions of the airline, you may get a full, partial, or no refund.
        Most types of budget tickets are non-refundable.
    </p>
    <p>
        There are many airlines; which may also apply cancellation fees, and there are always elements of a booking that
        are non-refundable. Ezee Flights will be charging a £150 administration fee per ticket.
    </p>
    <h5 class="text-decoration-underline">How can I change my flight?
    </h5>

    <p>
        You can get the best alternative for your trip that fits your schedule!
    </p>
    Before changing your booking, we need to check whether your ticket fare permits changes to your bookings. Changes in
    date or route are subject to conditions defined by the airline and depend on the fare paid. Cheaper fares will not
    allow any changes in it.
    <p>
        If changes are allowed, where the airline will ask you to pay the fare differences between the Old ticket and
        the New one. In some cases, you have to pay additional penalties to the airline. According to your services
        purchased, Ezee Flights administration fees will also get added to it.
    </p>
    <p>
        What can I do if the airline changes my flight schedule or cancels my flight?
    </p>
    <p>
        Due to operational reasons, Airlines will change your flight schedules sometimes.
    </p>
    <p>
        In case your bookings got affected by those changes. Immediately, you will receive a notification through your
        mail. Most of these are minor schedule changes that will not require a confirmation from the passengers. In case
        these change affects your arrival at your accommodations. You can contact the airline with the new details in
        the mail.
    </p>
    <p>
        The changes or cancellation requires effort from your side. Ezee Flights will indicate how to go further to get
        the most accurate option which suits you. Ezee Flights administration fee will also get applied to it.
    </p>
    <p>
        If the cancellation took place in a critical financial situation. (Insolvency, bankruptcy, and more) We will
        inform you with guidelines to follow. Those guidelines will depend on the circumstances, and they can also vary
        from rebooking with another airline, renewal, no alternative flights, possible refunds, or claiming from the
        Airline Administrators.
    </p>
    <h5 class="text-decoration-underline">Am I entitled to a refund?
    </h5>
    <p>
        You can get a refund on your tickets, but it will depend upon many cases. You have to cancel your flights; if
        you need to request a refund for your ticket, you can call our Customer Care Executives.
    </p>
    <p>

        Your refund will depend upon the fares and conditions. The Fare conditions will not be the same for all
        airlines, and it can vary depending on the price you paid for your booking. Mostly Budget flights are
        non-refundable. You may get other offers like coupons, vouchers, or the ability to rebook; instead of a cash
        refund. Ezee Flights administration fee will be applied.
    </p>
    <h5 class="text-decoration-underline">What to do if Flight disruption occurs?
    </h5>
    <p>
        When airlines cancel your flights, the airline should provide either an alternative or a full refund. You can
        confirm your choice with our
        Customer Care Executives. For all types of cancellations or refunds, Ezee Flights Administration fee will get
        applied.
    </p>
    <h5 class="text-decoration-underline">What is my baggage allowance?
    </h5>
    <p>
        Baggage allowances are given as per conditions by the airline, and they are route-specific, which informs the
        total number of bags, their sizes, and weights per person. Kindly note that most restricted fares will not
        include any free baggage allowance or may provide a reduced weight limit. If you are booking online, you can
        check the baggage included in your ticket. You will get the possibility of adding more bags to your bookings in
        just one click.
    </p>
    <p>
        The Maximum weights allowed for checked baggage by a regular carrier will range between 20 kgs (44 lbs) and 23
        kgs (50 lbs) or 15 kgs (33 lbs) to 20 kgs (44 lbs) for low-price carriers.
    </p>
    <p>
        We will remind you that hand baggage dimensions are 55 cm x 40 cm x 23 cm, and the weight can be up to 10 kg.
        During some flights, you can bring small personal belongings with you. You can check the bag allowance anytime
        by calling our Customer Care Executives.
    </p>

    <h5 class="text-decoration-underline">Can I fly with my sport equipment or my musical instrument?
    </h5>
    <p>
        Are you planning to travel with your Sports Equipment or a Musical Instrument?
    </p>
    <p>
        If yes, you have to follow a unique set of procedures to Check-in those mentioned below:
    </p>
    <p>
        You can take sporting or musical items during your air journey, but you have to pay extra and to inform us in
        advance. So, the airlines make arrangements in space on the plane or in the hold of airplanes. All types of
        equipment need to be covered and packed; in order to avoid damage, which should be within the size and weight
        restrictions of the airline.
    </p>
    <p>
        Please reach the airport in additional 30 minutes because this Equipment can be safely handed over to the
        baggage staff.
    </p>
    <p>
        If you already have an active booking. Inform us earlier so that we request this service with the airline on
        your behalf.
    </p>
    <h5 class="text-decoration-underline">How can I add more bags?
    </h5>
    <p>
        If you want to travel with additional baggage with your confirmed ticket booking? You can fly with the added
        baggage by contacting our Customer Care Executives, or you can increase more bag directly with airlines by using
        your booking reference.
    </p>
    <p>
        You cannot add bags in advance on some airlines. In those cases, you may add them at the airport during
        check-in. These are always depending on the airport on the ticket conditions and restrictions.
    </p>

    <h5 class="text-decoration-underline">How to select my seat?
    </h5>
    <p>
        In some airlines, you can choose your seat preference online while booking itself. For many airlines, you can
        select the seat after purchasing your tickets.
    </p>
    <p>
        In most cases, booking a seat before check-in may cost an extra price,
        especially in many low-cost airlines. The seats that are in the Front row, and Emergency exit rows, can be
        expensive.
    </p>
    <p>
        Please do not Pre-book your seat. Most airlines will automatically allocate your seats during check-in time.
    </p>
    <h5 class="text-decoration-underline">How do I check in online?
    </h5>
    <p>
        Web check-in is the fastest and easiest way that restricts you from the potential airport fees, wasting time
        standing in queues, and escaping from the risk of overbookings.
    </p>
    <p>
        When you check-in online, you get your boarding pass before the flight, so you can head straight to security at
        the airport. Or, when traveling with checked baggage, you can go to the airline’s baggage drop-off desk.
    </p>
    <p>
        You will receive multiple boarding passes for the bookings with different airlines, where each airline opens
        their check-in time at unique timings.
    </p>
    <p>
        Many airlines allow customers to check-in 24 hours prior to the departure. You will receive your boarding passes
        after your check-in. If you did not received your boarding pass(es) after a long processing time. Please get in
        touch with us. If you are not boarding your flights in the next 24 hours, you are requested to wait patiently
        because boarding passes are sent to you with 24 hours prior to the departure.

    </p>
    <h5 class="text-decoration-underline">How early should I be at the airport?
    </h5>
    <p>
        Domestic Flights: You can reach the airport 90 minutes prior to your departure timing.
        International Flights: It is preferable to be at the airport 2-3 hours prior to your departure timing
    </p>
    <p>
        There will be Special Security Procedures in some airports which require you to be at the airport earlier. That
        is the case for departures from cities like Tel Aviv, Bamako, Caracas, Conakry, Dakar, Djibouti, Lagos,
        Nouakchott, or Ouagadougou and Direct flights to the US.
    </p>
    <p>
        For more information, please check your boarding pass(es), where there will be timetables and meeting places for
        the charter flights, which will be in the documentation of the journey.
    </p>
</div>