<div class="container-fluid py-4 bg-terms">

    <div class="fs-1 text-center text-white">
        Terms of Use
    </div>
</div>
<div class="container py-4">
    <h3 class="text-decoration-underline"> Legal Information
    </h3>
    <p>
        We are Ezee Flights Travel Pvt. Ltd. -a part of World Reisen. Our company registration number is 45-3582639
        (World Reisen). We have a corporate office located at 101 California Street Suite 2710 San Francisco, California
        94111, United States of America.
    </p>
    <p>
        The purchase of your travel booking constitutes a contractual agreement between the traveler (s), customer(s),
        and/or purchaser(s), (collectively as "You" and "Traveller"), and www.ezeeflights.com (part of World Reisen)
        according to the following terms and conditions (“Terms”, “Agreement”):
    </p>
    <h3>
        Who are you?
    </h3>
    <p>
        You are our client who books your travel arrangements with us and whose name is on the confirmation invoice.
    </p>
    <h3>What are payment terms?
    </h3>
    <p>The person in whose name the booking is made acts on behalf of all other persons named and becomes responsible to
        us for all payments in respect of the booking. If you are making a payment less than eight weeks before
        departure, you must pay the total cost of your travel arrangements. If you do not pay as described above, your
        travel arrangements will be automatically canceled. We do not send reminders. We are entitled to cancel your
        travel arrangements for non-payment as specified because you have failed to pay, and you will be liable to pay
        us cancellation charges.
    </p>
    <h4>Our Role as Travel Agent
    </h4>
    <p>We act as travel agents only. We sell various travel-related products on behalf of numerous transport and
        accommodation service providers, but not limited to airlines, coaches, rail, cruise line operators, and hotels.
        We do not own, operate, manage or control these independent suppliers of services and are not liable for their
        acts or omissions. We are obliged to you to make travel bookings on your behalf and to arrange relevant
        contracts between you and the travel service providers. We have no responsibility for these services and have no
        authority to make any warranty or representation regarding their standard. All bookings are subject to the terms
        and conditions and limitations of liability imposed by these travel service providers. You understand that your
        legal recourse is against the specific provider, not us. Conditions can change rapidly in a country at any time.
        It’s your responsibility to check the USA Government Travel advisories for your intended destinations.Ezee
        Flights will get consent from the customer before sending messages or e-mails to them; we follow the guidelines
        given under EU-U.S and Swiss-U.S privacy shield frameworks, which we strictly followed it without any negligence
        in the collection and promotion of travel products to our customers. Without getting consent from the customers,
        we will send marketing deals to the customers.
    </p>
    <h3>
        Deposits
    </h3>
    <p>
        While making bookings, you will be required to pay a minimum deposit per person. The service provider may
        require further deposits. All deposits are non-refundable. Final payment is required not less than 60 days
        before departure unless otherwise stated. Some airfares or services must be paid fully at the time of booking.
        You can make online payments through your debit card or credit cards (Visa, MasterCard). If you wish us to
        charge your credit card, we may require you to read and sign a credit card charge form on the receipt.
    </p>
    <p>
        NOTE: The deposits taken from you will guarantee the seat, NOT any tax increase and fare increase; the deposit
        is Non-Refundable.
    </p>
    <h4>
        Important Conditions
    </h4>
    <p>
        Prices can increase until you make full payment, which results from increases in government-imposed taxes or
        fees. By signing below, you expressly acknowledge your acceptance of these conditions (i.e. increases before
        full payment and increases attributable to government-imposed taxes or fees after full payment will be your
        responsibility) applicable to your purchase.The messages which we share with the customer are under the aegis of
        the US SMS Acceptable Use Policy which includes Opt In\Opt Out Messages; and the acceptable limit as prescribed
        by the US SMS Specific Features and Restrictions policy.
    </p>
    <h4>
        Airport Charges and Departure Taxes
    </h4>
    <p>
        Various actions by USA or Overseas Governments and other Authorities mandatorily increases or new charges are
        not covered by the companies price guarantee.
    </p>
    <h4>
        Modifications in the Booking by the Passenger
    </h4>
    <p>
        After booking, if you wish to change your travel arrangements, we will process your application when we receive
        it in writing and accompanied by an amendment fee. Please enquire for more details with your consultant.
        Changing the name is not possible; you should book under the correct name, as they appear in the relevant
        passport. Name changes will be treated as cancellations and will be subject to the cancellation charges set out
        below. Please note that some travel arrangements cannot be changed, after a reservation has been made and any
        alterations will incur a 100% cancellation charge,where we inform the Customers by following US SMS Specific
        Features and by knowing the basic feature before sending any messages. All fares are subject to change,
        sometimes without advance
        notice: it is, therefore, your interest to finalize payment as soon as possible, as fares can only be guaranteed
        if full payment has been done.
    </p>
    <h4>
        Cancelation by the Passenger
    </h4>
    <p>
        Please be aware that most travel bookings are non-refundable, and canceled bookings will incur charges. You may
        cancel your booking at any time as long as it is communicated to us in writing. As this incurs administration
        costs, we will retain your deposit (deposits are non-refundable) and additional cancellation charges may apply.
    </p>
    <p>
        Cancellation charges on airline tickets are dependent upon the airline; when the cancellation takes place,
        varying from 25% to 100%; please check at the time of booking. These charges can be up to 100% of the cost of
        the booking, regardless of whether travel has commenced. Where we incur any liability for a cancellation fee or
        charge for any booking which you cancel, you agree to indemnify us for the amount of that fee or charge.
    </p>
    <h4>Refund Policy
    </h4>
    <p>
        Refunds can take anything between 3-4 weeks. If the reason for cancellation is covered under the terms of an
        insurance policy, you may be able to reclaim these charges. Refunding will be made in the same mode as used for
        making the payment. i.e. If the payment is made through card or bank transfer, the refund will be made on the
        same card or the bank account.
    </p>

    <h4>Credit Card Charges
    </h4>
    <p>
        Bookings, where payment is made by credit card, are liable for the following surcharges: 2.5% on Visa & Master
        Card. 3.5% on American Express and Diner's Club.
    </p>
    <h4>
        Posting Documents
    </h4>
    <p>
        We will endeavor to send out travel documents 14 days before departure by first class post at the client's
        request & at the client's own risk. Special, Recorded, or Registered posts; can be arranged at an additional
        charge. A form of indemnity will have to be filled; in to claim your monies which can take six months. The form
        of indemnity is subject to a certain amount of administration charges per passenger.The Documents we collect
        from the Customers will be under the aegis of the Data privacy law of the US.
    </p>
    <h4>
        Re-Confirmation of Flights/Check-in
    </h4>
    <p>
        You are required to check in 3 hours; before departure on long haul and 2 hours before departure for short-haul
        flights. Reconfirmation of onward / return flights must be made with the airline at least 72 hours before
        departure.
    </p>
    <h4>
        Flight Programme Changes
    </h4>
    <p>
        All prices, dates, times, routes, and choices of the airline are subject to alteration or cancellation should
        EzeeFlights.com find it necessary to effect any such alteration or cancellation. We will use our best endeavors
        to provide passengers with suitable alternatives. All transportation arrangements are made by EzeeFlights.com,
        upon the express understanding that it acts as a booking agent only.
    </p>
    <p>
        Any claim for damage, injury, death, loss, or delay in connections or inconvenience caused or suffered by any
        passenger or his property. Howsoever arising shall be made directly against the carrier or other responsible
        person, firm, or company concerned. The liability of EzeeFlights.com shall cease in any event if it has
        exercised due diligence in acting as a booking agent. EzeeFlights.com is not bound by any statement or
        representation, unless it is in writing and signed by a duly authorized official or their office staff, and save
        as aforesaid, no representative employee or agent of EzeeFlights.com is authorized to commit them to any
        liability or make any representation on their behalf whatsoever. Refunds will not be paid in the event of
        cancellations or changes made by us caused by circumstances amounting to Force Majeure including amongst others:
        war, the threat of war, riots, civil strife, terrorism, industrial disputes and strikes, natural and other
        disasters, fire, technical problems with transport, adverse weather conditions, closure or congestion of
        airports and other events beyond our control.
    </p>
    <h4>
        Validity of Tickets, Flight Timings and Scheduled Carriers
    </h4>
    <p>
        Return tickets are valid for the dates and routing specified thereon. No refunds will be made in respect of
        unused tickets other than as provided for herein. Flights, timings, and schedules are subject to changes at the
        insistence of National Aviation Authorities or the carriers for operational or other reasons. Neither the
        company nor the Carrier concerned will accept liability for flight cancellations, delays, or diversions outside
        the company or the carrier's control. Timings in itineraries or elsewhere are not guaranteed and do not form
        part of the contract. Air Carriers may substitute alternative aircraft and carriers, include or omit stops and
        neither the company nor the carrier accepts responsibility for making connections and/or delays.
    </p>
    <h4>
        Responsibility
    </h4>
    <p>We always do our best to make sure your travel arrangements are satisfactory. However, Ezee Flights and its
        employees, shareholders, subsidiaries, affiliates, officers, directors, successors, agents, and assigns do not
        own or operate any entity. It provides goods and services for your travel such as, without limitation, lodging
        facilities, airline, vessel, motor coach, or other transportation companies, guides or guide services, local
        ground operators, providers or organizers of optional excursions, food service providers, etc. All such persons
        and entities are independent contractors and in no way affiliated with Ezee Flights or any of Ezee Flights
        affiliated entities.
    </p>
    <h4>
        Liability
    </h4>
    <p>
        Ezeeflights is not liable for any negligent or willful act or failure to act of any travel service provider or
        any third party. In addition, without limitation, we are not responsible for any injury, loss, death,
        inconvenience, delay, or damage to a person or property in connection with the provision of any goods or
        services. Whether resulting from, but not limited to, acts of God or force majeure, illness, disease, acts of
        war or civil unrest, insurrection or revolt, animals, strikes or other labor activities, criminal or terrorist
        activities of any kind, overbooking or downgrading of accommodations, mechanical or other failures of airplanes
        or other means of transportation, or any failure of transportation mechanism to arrive or depart on time. Also,
        be advised that certain foreign facilities, such as air-conditioning systems in public places, hotels, and motor
        coaches, may not be up to USA standards. If it is due to weather, flight schedules, or any other uncontrollable
        factors, you are required to spend an additional night(s), and you will be responsible for your hotel,
        transfers, and meal costs. Baggage is entirely at the owner's risk.
    </p>
    <p>
        The prices of these tours are based on rates in effect (including foreign exchange rates) at the time of
        printing and are subject to change without notice. Under certain circumstances, liabilities cannot be excluded.
        Such liability is limited to the value of the purchased travel arrangements. You specifically agree that
        Ezeeflights.com is not liable for any consequential loss or damage.
    </p>
    <h4>
        Travel Documentation
    </h4>
    <p>
        It is your responsibility to have valid travel documentation. Travel documents cannot be transferred to another
        person to use. All airline tickets must be issued; in the name of the passport/photo identity holder. An
        incorrect name on a booking may result in an inability to use that booking and the booking being canceled. Any
        errors in names, dates, and timings may result in an inability to use that booking and the booking being
        canceled. Any errors in names, dates, and timings on your documentation will be your responsibility if not
        advised at the time of booking. Please reconfirm your flights at least 24 hours before departure. You will be
        liable for any fines, together with related expenses, which may be imposed on EzeeFlights.com or the carrier as
        a result of your improper or incorrect documentation.

    </p>
    <h4>
        Refusal of service
    </h4>
    <p>
        Service providers or airlines reserve the right to refuse service to travelers at their sole discretion and
        including without limitation. If the traveler; (i) Lacks proper documentation for the country of destination;
        (ii) Has a contagious disease; (iii) Is under the influence of alcohol, drugs, or narcotics; and/or (iv)
        Manifests disruptive and/or unruly behavior. Ezeeflights.com assumes no liability for the acts of the service
        provider in refusing service.

    </p>
    <h4>
        Passport, Visas, Health Requirements and Driving Licence
    </h4>
    <p>
        All individuals departing from the United States of America must own a valid passport. Please check that your
        passport is valid for six months or longer than your intended travel time. It is your responsibility to ensure
        that you have valid travel documentation, including but not limited to passports and visas, which meet the
        requirements of immigration and other government authorities at every destination. You are responsible for
        confirming with the United States Department of State or representative government agency of the country to
        which; you are traveling. Please confirm the presence of visas, and/or other requirements for admission to your
        destination. Any fines, penalties, payments, or expenditures incurred as a result of such documents not meeting
        the requirements of those authorities will be solely your responsibility. A valid government-issued ID is
        required for travel within the USA. However, depending upon the State of departure or arrival, a passport may be
        required; instead of a driver's license. For non-US destinations, an international license will be required.
        Ensure that you have all immunization and medical requirements. Some countries may require vaccination
        certificates for entry.You can find some helpful information on the websites https://www.faa.gov.

    </p>
    <h4>
        Special Requests
    </h4>
    <p>In the event of requesting; on your behalf, for Meals, Seats, Room requests, etc., we will communicate that
        request to those responsible. Your request is not guaranteed and therefore we cannot be held responsible if your
        request is not fulfilled.

    </p>
    <h4>
        Travel Insurance
    </h4>
    <p>
        We advise you to take a travel insurance policy. You are required to have adequate travel insurance said to US
        Law.
    </p>
    <h4>
        Price offered is subject to availability.
    </h4>
    <p>
        In case your payment gets delayed after confirmation of the booking or declined fares are not guaranteed & a
        minimum of $100 or higher cancellation fee may apply as per the fare rules.

    </p>
</div>